<app-navbar [app]="this"></app-navbar>
<app-carousel *ngIf="currentPage !== 'twitch'"></app-carousel>
<app-google-maps *ngIf="currentPage === 'google_maps'"></app-google-maps>
<!-- <app-hue></app-hue> -->
<!-- <app-projects *ngIf="currentPage === 'projects'"></app-projects> -->
<!-- <app-youtube></app-youtube> -->
<app-traffic *ngIf="currentPage === 'traffic'"></app-traffic>
<app-kenteken *ngIf="currentPage === 'kenteken'"></app-kenteken>
<app-twitch *ngIf="currentPage === 'twitch'"></app-twitch>
<app-footer></app-footer>
